[*.cs]
csharp_style_namespace_declarations = file_scoped
dotnet_diagnostic.CA1051.severity = none
dotnet_diagnostic.CA1711.severity = none
dotnet_diagnostic.CA2101.severity = none  # It generates false positives

[*{Tests,Benchmarks}.cs]
dotnet_diagnostic.CA1707.severity = none
dotnet_diagnostic.CA1822.severity = none